irc:
    channel: '#nacl'
    server: irc.company.com
    port: 6669
    nick: salt
    password: rot13

filters:
    functions:
        - state.sls
        - test.ping
        - test.version
        - state.highstate

salt:
    target: 'master'
